---
layout: tutorial
order: 02
title: tutorials.swap.title
paginator_title: tutorials.swap.overview.title
paginator_summary: tutorials.swap.overview.summary
---
<!-- Don't have an empty line until after the first <p>, as Jekyll is
	 looking for "\n\n" to decide what constitutes the "excerpt" for a post. -->
{% assign misc_strings = site.data.tutorials.misc %}
{% assign strings = site.data.tutorials.swap %}
<p>
	{{ strings.intro }}
</p>

<p>
	{{ strings.all_devices_need_fdroid }}
</p>

<div class="options">`
	<ul class="steps">
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/swap/screenshots/tut02-01@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '1' }}</h4>
			<p>{{ strings.step_1 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/swap/screenshots/tut02-02@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '2' }}</h4>
			<p>{{ strings.step_2 }}</p>
		</li>
		<li class="step medium">
			<div class="img">
				<img class="irregular" src="../../../assets/tutorials/swap/screenshots/tut02-03@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '3' }}</h4>
			<p>{{ strings.step_3 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/swap/screenshots/tut02-04@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '4' }}</h4>
			<p>{{ strings.step_4 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/swap/screenshots/tut02-05@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '5' }}</h4>
			<p>{{ strings.step_5 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/swap/screenshots/tut02-06@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '6' }}</h4>
			<p>{{ strings.step_6 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/swap/screenshots/tut02-07@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '7' }}</h4>
			<p>{{ strings.step_7 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/swap/screenshots/tut02-08@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '8' }}</h4>
			<p>{{ strings.step_8 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/swap/screenshots/tut02-09@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '9' }}</h4>
			<p>{{ strings.step_9 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/swap/screenshots/tut02-10@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '10' }}</h4>
			<p>{{ strings.step_10 }}</p>
		</li>
	</ul>
</div>

<div class="related-tutorials">
	{{ strings.related_tutorial }}
</div>
